### 12. write a python program to square the elements of a list by using list comprehension.

In [1]:
def sqr(list):
    return[i**2 for i in list]

In [2]:
sqr([21,11,1991,9,30])

[441, 121, 3964081, 81, 900]

### 13.Write a pyhton program to drop duplicate elements from a list of numbers.

In [3]:
numbers=[17,3,20,4,13,54,55,56,73,15,98,65,4,24,98,3,73,95,56,13,95,80]
print("number list=",numbers,'\nnumber of element=',len(numbers),'\n')

new=list(set(numbers))
print('new list after dropping duplicated values=', new)
print('No of element dropped=', len(numbers)-len(new))

number list= [17, 3, 20, 4, 13, 54, 55, 56, 73, 15, 98, 65, 4, 24, 98, 3, 73, 95, 56, 13, 95, 80]
number of element= 22

new list after dropping duplicated values= [65, 98, 3, 4, 73, 13, 15, 80, 17, 20, 54, 55, 56, 24, 95]
No of element dropped= 7

### 14.	Take two sets of numbers and try implementing the set operations - intersection, union, difference and symmetric_difference between them.

In [4]:
A = {10, 32, 21,89,77,74, 96, 18}; 
B = {17, 32, 73, 84,12,11,21,77, 18}; 
print("Union :", A | B) 
print("\nIntersection :", A & B) 
print("\nDifference :", A - B) 
print("\nSymmetric difference :", A ^ B)

Union : {32, 96, 73, 10, 74, 11, 77, 12, 17, 18, 84, 21, 89}

Intersection : {32, 18, 21, 77}

Difference : {96, 89, 10, 74}

Symmetric difference : {96, 73, 10, 11, 12, 74, 17, 84, 89}

### 15.	Write a python program to add the elements of a set.

In [5]:
s1 = { 'socks', 'shoes', 'watches', 'shirts', 'jackets', 'suits', 'tuxedo'}
print('s1:\t', s1)

# adding ''sunglass" to the set
s1.add('sunglass')
print('new s1:\t', s1)

# adding 'hat' 
s1.add('hat')
print('new s1:\t', s1)

s1:	 {'suits', 'jackets', 'shirts', 'tuxedo', 'watches', 'shoes', 'socks'}
new s1:	 {'suits', 'jackets', 'shirts', 'tuxedo', 'sunglass', 'watches', 'shoes', 'socks'}
new s1:	 {'hat', 'suits', 'jackets', 'shirts', 'tuxedo', 'sunglass', 'watches', 'shoes', 'socks'}